
# Ignorar archivos de configuración local
../localhost.session.sql.
localhost.session.sql
JPAvivero.session.sql

# Ignorar configuraciones de IDE
.vscode/
/.idea/
/.project
/.classpath
/.settings/

# Ignorar archivos de log
*.log

# Ignorar archivos generados por el sistema
.DS_Store
Thumbs.db

# Ignorar archivos compilados
*.class
*.jar
*.war
*.ear

# Ignorar archivos de Maven
pom.xml.asc
*.releaseBackup