# Archivos y carpetas de configuración del entorno
.vscode/

# Archivos compilados
bin/

# Librerías externas (si no quieres incluirlas en el repo)
lib/

# Archivos temporales y de sesión
*.session.sql

# Otros archivos innecesarios (puedes agregarlos si aparecen)
*.log
*.tmp